/* all */

#leagueContainer div {
    text-align: center;
    vertical-align: middle;
}

#leagueNav {
    text-align: center;
}

#leagueNav div {
    display: inline-block;
    padding: .5em;
}

#draftNav {
    text-align: left;
}

#draftNav a {
    display: inline-block;
    padding: .5em;
}

#draftDiv hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
